@model QLDHS.Models.Entity.InforLHS
@{
    ViewBag.Title = "Chỉnh sửa thông tin - " + Model.Hoten;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/Detail_Style.css" />
<link rel="stylesheet" href="~/Content/font-awesome.css" />
<script src="~/Scripts/ValidateScript.js"></script>

<h3> Chỉnh sửa thông tin lưu học sinh</h3>
@{
    string thongtinbo=null;
    string thongtinme=null;
    if (Model.ThongTinGiaDinh!=null)
    {
        thongtinbo = Model.ThongTinGiaDinh.Split('/')[0];
        thongtinme = Model.ThongTinGiaDinh.Split('/')[1];
    }
    string thoigianbatdauhoc = null;
    string thoigianketthuchoc = null;
    if (Model.ThoiGianBatDauHoc!=null)
    {
        string ngaysinhStr = Model.ThoiGianBatDauHoc.ToString();
        DateTime date = (Convert.ToDateTime(ngaysinhStr));
        thoigianbatdauhoc = date.Year + "-" + date.Month + "-" + date.Day;
    }
    if (Model.ThoiGianKetThucHoc != null)
    {
        string ngaysinhStr = Model.ThoiGianKetThucHoc.ToString();
        DateTime date = (Convert.ToDateTime(ngaysinhStr));
        thoigianketthuchoc = date.Year + "-" + date.Month + "-" + date.Day;
    }

    string ngaysinhdate = null;
    string ngayvaodoan = null;
    string ngayvaodang = null;
    string ngaychuyendangct = null;
    string ngaynhapngu = null;

    if (Model.NgaySinh != null)
    {
        string ngaysinhStr = Model.NgaySinh.ToString();
        DateTime date = (Convert.ToDateTime(ngaysinhStr));
        ngaysinhdate = date.Year + "-" + date.Month + "-" + date.Day;

    }
    if (Model.NgayNhapNgu != null)
    {

        string ngaynhapnguStr = Model.NgayNhapNgu.ToString();
        DateTime date1 = (Convert.ToDateTime(ngaynhapnguStr));
        ngaynhapngu = date1.Year + "-" + date1.Month + "-" + date1.Day;

    }
    if (Model.NgayVaoDoan != null)
    {

        string ngaydoanStr = Model.NgayVaoDoan.ToString();
        DateTime date2 = (Convert.ToDateTime(ngaydoanStr));
        ngayvaodoan = date2.Year + "-" + date2.Month + "-" + date2.Day;

    }
    if (Model.NgayVaoDang != null)
    {

        string ngaydangStr = Model.NgayVaoDang.ToString();
        DateTime date3 = (Convert.ToDateTime(ngaydangStr));
        ngayvaodang = date3.Year + "-" + date3.Month + "-" + date3.Day;

    }
    if (Model.NgayVaoDang != null)
    {

        string ngaydangctStr = Model.NgayVaoDang.ToString();
        DateTime date4 = (Convert.ToDateTime(ngaydangctStr));
        ngaychuyendangct = date4.Year + "-" + date4.Month + "-" + date4.Day;
    }
}

<div class="container">
    <div class="row">

        <div class="col-lg-4 col-xl-4">
            <div class="card-box text-center" style="position: sticky;top: 0; z-index:3">
                <img id="avatar" src="~/@Model.Image" class="avatar-xl img-thumbnail" alt="profile-image">

                <h4 class="mb-0">@Model.Hoten</h4>
                <p class="text-muted">@Model.MaLHS</p>
                <form>
                    <input id="fileInput" type="file" style="display:none;" accept="image/*" />
                    <button id="upfilebtn" onclick="document.getElementById('fileInput').click()" type="button" class="btn btn-success btn-xs waves-effect mb-2 waves-light">Thêm ảnh</button>
                    
                </form>
                <div class="text-left mt-3">
                    <p class="text-muted font-13 mb-2">
                        <strong>Cơ sở đào tạo :</strong><span class="ml-2"> @Model.CSDaoTao</span>
                    </p>
                    <p class="text-muted mb-2 font-13"><strong>Bậc đào tạo :</strong> <span class="ml-2">@Model.CSDaoTao</span></p>

                    <p class="text-muted mb-2 font-13">
                        <strong>Kinh phí đào tạo :</strong><span class="ml-2">
                            @Model.SinhHoatPhi
                        </span>
                    </p>
                    <p class="text-muted mb-2 font-13"><strong>Đia chỉ liên lạc :</strong> <span class="ml-2 ">@Model.DiaChiLienLac</span></p>
                    <p class="text-muted mb-2 font-13"><strong>Đoàn trưởng :</strong> <span class="ml-2 ">@Model.CanBo</span></p>

                </div>


            </div> <!-- end card-box -->

        </div> <!-- end col-->

        <div class="col-lg-8 col-xl-8">
            <div class="card-box">
                <ul class="nav nav-pills navtab-bg">
                    <li class="nav-item">
                        <button data-toggle="tab" aria-expanded="false" class="nav-link ml-0 active" id="setting-button">
                            <i class="fa fa-edit"></i> Chỉnh sửa thông tin đào tạo
                        </button>
                    </li>
                    <li class="nav-item">
                        <button data-toggle="tab" aria-expanded="true" class="nav-link" id="about-me-button">
                            <i class="fa fa-id-badge"></i> Chỉnh sửa thông tin cơ bản
                        </button>
                    </li>

                </ul>

                <div class="tab-content">

                    <div class="tab-pane" id="settings">

                        <form action="./EditLHSTTCoban" enctype="multipart/form-data" method="post">
                            <h5 class="mb-3 text-uppercase bg-light p-2" style="position: sticky;top: 0; z-index:3"><i class="mdi mdi-account-circle mr-1"></i> Thông tin cơ bản</h5>
                            <input type="text" name="LHISD" id="LHSID" value="@ViewBag.LHSID" style="display: none" >
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Họ và tên</label>
                                        <input value="@Model.Hoten" type="text" class="form-control" id="HoTen" name="HoTen" placeholder="Họ và tên" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Ngày sinh</label>
                                        <input value="@ngaysinhdate" type="date" class="form-control" id="NgaySinh" name="NgaySinh" placeholder="Ngày sinh" >
                                    </div>
                                </div>
                            </div> <!-- end row -->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Giới tính</label>
                                        <select class="form-control" id="GioiTinh" name="GioiTinh" placeholder="Giới tính" >
                                            <option value="Nam">Nam</option>
                                            <option value="Nữ">Nữ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Dân tộc</label>
                                        <input value="@Model.DanToc" type="text" class="form-control" id="DanToc" name="DanToc" placeholder="Dân tộc">
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Tôn giáo</label>
                                        <input value="@Model.TonGiao" type="text" class="form-control" id="TonGiao" name="TonGiao" placeholder="Tôn giáo" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Miền</label>
                                        <select type="text" class="form-control" id="Mien" name="Mien" placeholder="Miền" >
                                            <option value="Bắc">Bắc</option>
                                            <option value="Trung">Trung</option>
                                            <option value="Nam">Nam</option>
                                        </select>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Thông tin liên lạc</label>
                                        <input value="@Model.ThongTinLienLac" type="text" class="form-control" id="ThongTinLienLac" name="ThongTinLienLac" placeholder="Thông tin liên lạc">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Đối tượng</label>
                                        <select type="text" class="form-control" id="MaDoiTuong" name="MaDoiTuong" placeholder="Đối tượng" >
                                            @foreach (var item in @ViewBag.Doituong)
                                            {
                                                <option value="@item.MaDoiTuong">@item.DoiTuong1</option>
                                            }

                                        </select>
                                    </div>
                                </div> <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="userbio">Quê quán</label>
                                        <textarea class="form-control" id="QueQuan" name="QueQuan" rows="2" placeholder="Quê quán" >@Model.QueQuan</textarea>
                                    </div>
                                </div>
                            </div> <!-- end row -->

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="userbio">Nơi ở hiện nay</label>
                                        <textarea class="form-control" id="NoiOHienNay" name="NoiOHienNay" rows="2" placeholder="Quê quán">@Model.NoiOHienNay</textarea>
                                    </div>
                                </div>
                            </div> <!-- end row -->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Khoa</label>
                                        <select value="@Model.Khoa" type="text" class="form-control" id="Khoa" name="Khoa" placeholder="Khoa">
                                            @foreach (var item in @ViewBag.Khoa)
                                            {
                                                <option value="@item.MaDonVi">@item.DonVi1</option>
                                            }
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Bộ môn</label>
                                        <select type="text" class="form-control" id="BoMon" name="BoMon" placeholder="Bộ môn" >
                                            @foreach (var item in @ViewBag.BoMon)
                                            {
                                                <option value="@item.MaDonVi">@item.DonVi1</option>
                                            }

                                        </select>
                                    </div>
                                </div> <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Số hiệu sĩ quan</label>
                                        <input value="@Model.SoHieuSiQuan" type="text" class="form-control" id="SoHieuSiQuan" name="SoHieuSiQuan" placeholder="Số hiệu sĩ quan">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Thời gian nhập ngũ</label>
                                        <input value="@ngaynhapngu" type="date" class="form-control" id="NgayNhapNgu" name="NgayNhapNgu" placeholder="Ngày nhập ngũ" >

                                    </div>
                                </div> <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Ngày vào đoàn</label>
                                        <input value="@ngayvaodoan" type="date" class="form-control" id="NgayVaoDoan" name="NgayVaoDoan" placeholder="Ngày vào đoàn">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Ngày vào đảng</label>
                                        <input value="@ngayvaodang" type="date" class="form-control" id="Ngayvaodang" name="Ngayvaodang" placeholder="Ngày vào đảng">
                                    </div>
                                </div> <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Ngày chuyển đảng chính thức</label>
                                        <input value="@ngaychuyendangct" type="date" class="form-control" id="Ngaychuyendangchinhthuc" name="Ngaychuyendangchinhthuc" placeholder="Ngày chuyển đảng chính thức">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Con em cán bộ</label>
                                        <input type="text" class="form-control" id="Conemcanbo" name="Conemcanbo" placeholder="Không/Có" value="">

                                    </div>
                                </div> <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Thành phần gia đình</label>
                                        <input value="@Model.ThanhPhanGiaDinh" type="text" class="form-control" id="Thanhphangiadinh" name="Thanhphangiadinh" placeholder="Thành phần gia đình">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Địa chỉ liên lạc gia đình</label>
                                        <input value="@Model.DiaChiLienLac" type="text" class="form-control" id="Diachilienlacgiadinh" name="Diachilienlacgiadinh" placeholder="Địa chỉ liên lạc gia đình">

                                    </div>
                                </div> <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Bố:</label>
                                        <input value="@thongtinbo" type="text" class="form-control" id="Thongtinbo" name="Thongtinbo" placeholder="Thông tin bố">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Mẹ:</label>
                                        <input value="@thongtinme" type="text" class="form-control" id="Thongtinme" name="Thongtinme" placeholder="Thông tin mẹ">

                                    </div>
                                </div> <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Đơn vị trước khi đi học</label>
                                        <input value="@Model.BoMon" type="text" class="form-control" id="Donvitruockhidihoc" name="Donvitruockhidihoc" placeholder="Đơn vị">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Đoàn trưởng(Lưu đoàn trưởng)</label>
                                        <input type="text" class="form-control" id="Doantruong" name="Doantruong" placeholder="" value="">

                                    </div>
                                </div> <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="userbio">Lĩnh vực thế mạnh</label>
                                        <textarea class="form-control" id="Linhvucthemanh" name="Linhvucthemanh" rows="2" placeholder="Lĩnh vực thế mạnh">@Model.NghienCuuNoiBat</textarea>
                                    </div>
                                </div>
                            </div> <!-- end row -->

                            <div class="text-right">
                                <button type="submit" class="btn btn-success waves-effect waves-light mt-2"><i class="mdi mdi-content-save"></i> Lưu</button>
                            </div>
                        </form> <!-- CHỉnh sửa thông tin cơ bản-->

                    </div>
                    <!-- end timeline content-->

                    <div class="tab-pane show active" id="about-me">

                        <form action="./EditLHSTTDaotao" enctype="multipart/form-data" method="post">
                            <h5 class="mb-3 text-uppercase bg-light p-2" style="position: sticky;top: 0; z-index:3"><i class="mdi mdi-account-circle mr-1"></i> Thông tin đào tạo</h5>
                            <input type="text" name="LHSID" id="LHSID" value="@ViewBag.LHSID" style="display: none">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Địa bàn</label>
                                        <select type="text" class="form-control" id="Diaban" name="Diaban" >
                                            <option label="Thế giới" value="-1"></option>
                                            @foreach (var item in ViewBag.diaban)
                                            {
                                                if (@item.soluong > 0)
                                                {
                                                    <option label="@item.diaban" value="@item.madiaban"></option>
                                                }

                                            }
                                         </select>
                                    </div>
                                </div>                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Cơ sở đào tạo</label>
                                        <select type="text" class="form-control" id="CSDaoTao" name="CSDaoTao" >
                                            @foreach (var item in ViewBag.CSDaotao)
                                            {
                                                <option label="@item.CSDaoTao" value="@item.MaCSDaoTao"></option>
                                            }
                                            </select>
                                    </div>
                                </div>
                            </div> <!-- end row -->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Diện kinh phí đào tạo</label>
                                        <select type="text" class="form-control" id="MaDienKinhPhi" name="MaDienKinhPhi" >
                                            @foreach (var item in ViewBag.DienKinhPhi)
                                            {
                                                <option label="@item.DienKinhPhi" value="@item.MaDKP"></option>
                                            }
                                            </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Bậc đào tạo</label>
                                        <select  type="text" class="form-control" id="MaBacDaoTao" name="MaBacDaoTao" >
                                            @foreach (var item in ViewBag.BacDaoTao)
                                            {
                                                <option label="@item.BacDaoTao1" value="@item.MaBacDaoTao"></option>
                                            }
                                            </select>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Ngành đào tạo 1</label>
                                        <select type="text" class="form-control" id="NganhDT1" name="NganhDT1" >
                                            @foreach (var item in ViewBag.NganhDT)
                                            {
                                                <option label="@item.NganhDaoTao1" value="@item.MaNganh"></option>
                                            }
                                            
                                            </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Chuyên ngành đào tạo 1</label>
                                        <select type="text" class="form-control" id="CNDT1" name="CNDT1">
                                            @foreach (var item in ViewBag.ChuyenNganhDaoTao)
                                            {
                                                <option label="@item.ChuyenNganhDaoTao1" value="@item.MaChuyenNganh" data-filter="@item.MaNganh"></option>
                                            }


                                        </select>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Ngành đào tạo 2</label>
                                        <select type="text" class="form-control" id="NganhDT2" name="NganhDT2">
                                            @foreach (var item in ViewBag.NganhDT)
                                            {
                                              <option label="@item.NganhDaoTao1" value="@item.MaNganh" ></option>
                                            }
                                            <option value="" data-filter-emptyvalue disabled>No Options</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Chuyên ngành đào tạo 2</label>
                                        <select type="text" class="form-control" id="CNDT2" name="CNDT2">
                                            @foreach (var item in ViewBag.ChuyenNganhDaoTao)
                                            {
                                                <option label="@item.ChuyenNganhDaoTao1" value="@item.MaChuyenNganh" data-filter="@item.MaNganh"></option>
                                            }

                                        </select>
                                    </div>
                                </div>
                            </div> <!-- end col -->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Năm đi học</label>
                                        <input value="@thoigianbatdauhoc" type="date" class="form-control" id="ThoiGianBatDauHoc" name="ThoiGianBatDauHoc">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Năm tốt nghiệp</label>
                                        <input value="@thoigianketthuchoc" type="date" class="form-control" id="ThoiGianKetThucHoc" name="ThoiGianKetThucHoc">
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Tình trạng tốt nghiệp</label>
                                        <select value="@Model.TinhTrangTotNghiep" type="text" class="form-control" id="TinhTrangTotNghiep" name="TinhTrangTotNghiep" >
                                            <option value="0" label="Chưa tốt nghiệp"></option>
                                            <option value="1" label="Đã tốt nghiệp"></option>
                                            <option value="2" label="Không tốt nghiệp"></option>
                                            </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Tên đồ án tốt nghiệp, LVTS, LATS</label>
                                        <input value="@Model.TenLuanVan" type="text" class="form-control" id="TenLuanVan" name="TenLuanVan" >
                                    </div>
                                </div> <!-- end col -->
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Điểm trung bình</label>
                                        <input step="0.1" value="@Model.DiemTrungBinh" type="number" class="form-control" id="DiemTrungBinh" name="DiemTrungBinh" placeholder="Điểm trung bình">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Kết quả bảo vệ đồ án</label>
                                        <input value="@Model.KetQuaBaoVe" type="text" class="form-control" id="KetQuaBaoVe" name="KetQuaBaoVe">

                                    </div>
                                </div> <!-- end col -->
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Kết quả học tập kỳ 1</label>
                                        <input value="@Model.Ki1" type="number" class="form-control" id="Ki1" name="Ki1" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Kết quả học tập kỳ 2</label>
                                        <input type="number" value="@Model.Ki2" class="form-control" id="Ki2" name="Ki2">

                                    </div>
                                </div> <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Kết quả học tập kỳ 3</label>
                                        <input value="@Model.Ki3" type="number" class="form-control" id="Ki3" name="Ki3" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Kết quả học tập kỳ 4</label>
                                        <input value="@Model.Ki4" type="number" class="form-control" id="Ki4" name="Ki4">
                                    </div>
                                </div> <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Kết quả học tập kỳ 5</label>
                                        <input value="@Model.Ki5" type="number" class="form-control" id="Ki5" name="Ki5">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Kết quả học tập kỳ 6</label>
                                        <input type="number" class="form-control" id="Ki6" name="Ki6" placeholder="Không/Có" value="@Model.Ki6">

                                    </div>
                                </div> <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Kết quả học tập kỳ 7</label>
                                        <input value="@Model.Ki7" type="number" class="form-control" id="Ki7" name="Ki7" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Kết quả học tập kỳ 8</label>
                                        <input value="@Model.Ki8" type="number" class="form-control" id="Ki8" name="Ki8" >

                                    </div>
                                </div> <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Kết quả học tập kỳ 9</label>
                                        <input value="@Model.Ki9" type="number" class="form-control" id="Ki9" name="Ki9" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Kết quả học tập kỳ 10</label>
                                        <input value="@Model.Ki10" type="number" class="form-control" id="Ki10" name="Ki10" >

                                    </div>
                                </div> <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Kết quả học tập kỳ 11</label>
                                        <input value="@Model.Ki11" type="number" class="form-control" id="Ki11" name="Ki11" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Kết quả học tập kỳ 12</label>
                                        <input value="@Model.Ki12" type="number" class="form-control" id="Ki12" name="Ki12" >

                                    </div>
                                </div> <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Kết quả học tập kỳ 13</label>
                                        <input value="@Model.Ki13" type="number" class="form-control" id="Ki13" name="Ki13" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Kết quả học tập kỳ 14</label>
                                        <input value="@Model.Ki14" type="number" class="form-control" id="Ki14" name="Ki14">

                                    </div>
                                </div> <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="userbio">Mô tả kết quả học tập</label>
                                        <textarea class="form-control" id="MoTaKetQua" name="MoTaKetQua" rows="3" placeholder="Mô tả kết quả học tập">@Model.MoTaKetQua</textarea>
                                    </div>
                                </div>
                            </div> <!-- end row -->

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="userbio">Thông tin nợ môn</label>
                                        <textarea class="form-control" id="LuuNoMon" name="LuuNoMon" rows="3" placeholder="Thông tin nợ môn">@Model.LuuNoMon</textarea>
                                    </div>
                                </div>
                            </div> <!-- end row -->

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="userbio">Phân loại tốt nghiệp</label>
                                        <select class="form-control" id="PhanLoaiTotNghiep" name="PhanLoaiTotNghiep" placeholder="Loại tốt nghiệp">
                                            <option value="1" label="Xuất sắc*"></option>
                                            <option value="2" label="Xuất sắc"></option>
                                            <option value="3" label="Giỏi"></option>
                                            <option value="4" label="Khá"></option>
                                            <option value="5" label="Trung bình"></option>
                                            <option value="6" label="Khác"></option>
                                            <option value="0" label="Chưa tốt nghiệp"></option>


                                        </select>
                                    </div>
                                </div>
                            </div> <!-- end row -->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Quân hàm</label>
                                        <input value="@Model.QuanHam" type="text" class="form-control" id="QuanHam" name="QuanHam" placeholder="Quân hàm hiện tại">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Năm nhận quân hàm</label>
                                        <input value="@Model.NamNhanQuanHam"  type="date" class="form-control" id="NamNhanQuanHam" name="NamNhanQuanHam" >
                                        
                                    </div>
                                </div> <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="userbio">Khen thưởng</label>
                                        <textarea class="form-control" id="KhenThuong" name="KhenThuong" rows="2" placeholder="Khen thưởng" disabled>@Model.KhenThuong</textarea>
                                    </div>
                                </div>
                            </div> <!-- end row -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="userbio">Kỉ luật</label>
                                        <textarea class="form-control" id="KiLuat" name="KiLuat" rows="2" placeholder="Kỉ luật" disabled>@Model.KiLuat</textarea>
                                    </div>
                                </div>
                            </div> <!-- end row -->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Về phép tiêu chuẩn</label>
                                        <input value="VePhepTieuChuan" type="text" class="form-control" id="VePhepTieuChuan" name="VePhepTieuChuan" placeholder="Đơn vị">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Về phép tự túc</label>
                                        <input type="text" class="form-control" id="VePhepTT" name="VePhepTT" >

                                    </div>
                                </div> <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Học phí</label>
                                        <input value="@Model.HocPhi" type="number" class="form-control" id="HocPhi" name="HocPhi">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Sinh hoạt phí</label>
                                        <input value="@Model.SinhHoatPhi" type="number" class="form-control" id="SinhHoatPhi" name="SinhHoatPhi" >

                                    </div>
                                </div> <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Bảo hiểm y tế</label>
                                        <input value="@Model.BHYT" type="number" class="form-control" id="BHYT" name="BHYT">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Chi phí khác</label>
                                        <input value="@Model.ChiPhiKhac" type="number" class="form-control" id="ChiPhiKhac" name="ChiPhiKhac" >

                                    </div>
                                </div> <!-- end col -->
                            </div>



                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="userbio">Thông tin QĐ cử đi học</label>
                                        <textarea class="form-control" id="QuyetDinhDuHoc" name="QuyetDinhDuHoc" rows="2">@Model.QuyetDinhDuHoc</textarea>
                                    </div>
                                </div>
                            </div> <!-- end row -->


                            <div class="text-right">
                                <button type="submit" class="btn btn-success waves-effect waves-light mt-2"><i class="mdi mdi-content-save"></i> Lưu</button>
                            </div>
                        </form> <!-- CHỉnh sửa thông tin đào tạo -->
                    </div>
                    <!-- end settings content-->

                </div> <!-- end tab-content -->
            </div> <!-- end card-box-->

        </div> <!-- end col -->
    </div>
</div>


<script>
    $(document).ready(function () {
        $(".nav-link").click(function () {
            $('#about-me-button,#setting-button').toggleClass("active");
            $('#settings , #about-me').toggleClass("show");
            $('#settings , #about-me').toggleClass("active");
        });

        if ($("#avatar").attr("src") == "/") {
            $("#avatar").attr("src","../Content/img/img_lhs/Avatar-Female.jpg")
        }
        
    });
    

</script>
<script>



    $("#fileInput").change(function(){
        var formData = new FormData();
        formData.append('AvatarImg', $('#fileInput')[0].files[0]);
        var id = "@Model.LHSID";
        formData.append('id',id)
        $.ajax({
            url: 'UploadAvatar',
            type: 'POST',
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) {
                document.getElementById('avatar').src = window.URL.createObjectURL($('#fileInput')[0].files[0])

                alert(data);
            },
            error: function (data) {
                alert(data)
            }
        });
    })
</script>

<script>

    //thêm các giá trị trong form chỉnh sửa: trong thẻ select
    var gioitinh = '@Model.GioiTinh';
    $('#GioiTinh option[value=' + gioitinh + ']').attr('selected', 'selected');
    //mien
    var mien = '@Model.Mien';
    $('#Mien option[value=' + mien + ']').attr('selected', 'selected');



    //Khoa
    var khoa = '@Model.MaKhoa';
    if (khoa == undefined || khoa == null||khoa=='') {
        khoa = '0';
    }
    $('#Khoa option[value=' + khoa + ']').attr('selected', 'selected');
    //bomon
    var bomon = '@Model.MaDVBM';
    if (bomon == undefined || bomon == null||bomon=='') {
        bomon = '0';
    }
    $('#Bomon option[value=' + bomon + ']').attr('selected', 'selected');
    //CSDaoTao
    var maCSDaoTao = '@Model.MaCSDaoTao';
    if (maCSDaoTao== undefined || maCSDaoTao==null||maCSDaoTao=='') {
        maCSDaoTao = '0';
    }
    $('#CSDaoTao option[value=' + maCSDaoTao + ']').attr('selected', 'selected');
    //MaDienKinhPhi
    var maDienKinhPhi = '@Model.MaDKP';
    if (maDienKinhPhi == undefined || maDienKinhPhi == null||maDienKinhPhi=='') {
        maDienKinhPhi = '0';
    }
    $('#MaDienKinhPhi option[value=' + maDienKinhPhi + ']').attr('selected', 'selected');
    //MaBacDaoTao
    var maBacDaoTao = '@Model.MaBacDaoTao';
    if (maBacDaoTao == undefined || maBacDaoTao == null||maBacDaoTao=='') {
        maBacDaoTao = '0';
    }
    $('#MaBacDaoTao option[value=' + maBacDaoTao + ']').attr('selected', 'selected');
    //NganhDT1
    var NganhDT1 = '@Model.MN1';
    if (NganhDT1 == undefined || NganhDT1 == null||NganhDT1=='') {
        NganhDT1 = '0';
    }
    $('#NganhDT1 option[value=' + NganhDT1 + ']').attr('selected', 'selected');
    //NganhDT2
    var NganhDT2 = '@Model.MN2';
    if (NganhDT2 == undefined || NganhDT2 == null||NganhDT2=='') {
        NganhDT2 = '0';
    }
    $('#NganhDT2 option[value=' + NganhDT2 + ']').attr('selected', 'selected');



    //CNDT1
    var cNDT1 = @Model.MaCNDaotao1;
    if (cNDT1 == undefined || cNDT1 == null||cNDT1=='') {
        cNDT1 = '0';
    }
    $('#CNDT1 option[value=' + cNDT1 + ']').attr('selected', 'selected');
    //CNDT2
    var cNDT2 = '@Model.MaCNDaotao2';
    if (cNDT2 == undefined || cNDT2 == null||cNDT2=='') {
        cNDT2 = '0';
    }
    $('#CNDT2 option[value=' + cNDT2 + ']').attr('selected', 'selected');
    //TinhTrangTotNghiep
    var tinhTrangTotNghiep = '@Model.TinhTrangTotNghiep';
    if (tinhTrangTotNghiep == undefined || tinhTrangTotNghiep == null||tinhTrangTotNghiep=='') {
        tinhTrangTotNghiep = '0';
    }
    $('#TinhTrangTotNghiep option[value=' + tinhTrangTotNghiep + ']').attr('selected', 'selected');
    //PhanLoaiTotNghiep
    var PhanLoaiTotNghiep = '@Model.PhanLoaiTotNghiep';
    if (PhanLoaiTotNghiep == undefined || PhanLoaiTotNghiep == null||PhanLoaiTotNghiep=='') {
        PhanLoaiTotNghiep = '0';
    }
    $('#PhanLoaiTotNghiep option[value=' + PhanLoaiTotNghiep + ']').attr('selected', 'selected');

</script>

<script>
    function filterCombobox(selectObject, filterValue, autoSelect) {

        var fullData = selectObject.data("filterdata-values");
        var emptyValue = selectObject.data("filterdata-emptyvalue");

        // lần đầu tiên
        if (!fullData) {
            fullData = selectObject.find("option[data-filter]").detach();
            selectObject.data("filterdata-values", fullData);
            emptyValue = selectObject.find("option[data-filter-emptyvalue]").detach();
            selectObject.data("filterdata-emptyvalue", emptyValue);
            selectObject.addClass("filtered");
        }
        else {
            // Remove elements from DOM
            selectObject.find("option[data-filter]").remove();
            selectObject.find("option[data-filter-emptyvalue]").remove();
        }

        // Get filtered elements.
        var toEnable = fullData.filter("option[data-filter][data-filter='" + filterValue + "']");

        // Attach elements to DOM
        selectObject.append(toEnable);

        // If toEnable is empty, show empty option.
        if (toEnable.length == 0) {
            selectObject.append(emptyValue);
        }

        // Select First Occurrence
        if (autoSelect) {
            var obj = selectObject.find("option[selected]");
            selectObject.val(obj.length == 0 ? toEnable.val() : obj.val());
        }
    }
    $('#NganhDT1').change(function(){
        var nganhdt = $("#NganhDT1 :selected").val();
        filterCombobox($("#CNDT1"), nganhdt, true);
    })
        
    $('#NganhDT2').change(function(){
        var nganhdt = $("#NganhDT2 :selected").val();
        filterCombobox($("#CNDT2"), nganhdt, true);
    })
    
</script>