


<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DataTables/buttons.flash.min.js"></script>
<script src="~/Scripts/jszip.min.js"></script>
<script src="~/Scripts/pdfmake/pdfmake.min.js"></script>
<script src="~/Scripts/pdfmake/vfs_fonts.js"></script>
<script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
<script src="~/Scripts/DataTables/buttons.print.min.js"></script>
<script src="~/Scripts/DataTables/buttons.colVis.min.js"></script>

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
<div class="section-heading">
    <h1>Danh sách<br /> lưu học sinh thăng quân hàm</h1>
</div>
@{ 
    var yearselect = 0;
}
<div class="section-content">
    <form enctype="multipart/form-data" method="get" action="" style="margin:0px;">
        Năm nhận quân hàm
        <select class="dataTables_length" id="yearQH" onchange="ChangeYearThongKeNienHanQH()">
            @for (int i = -2; i < 3; i++)
            {
                DateTime date = DateTime.UtcNow;
                int year = date.Year + i;
                <option value="@year">@year</option>
            }


        </select>
        Đối tượng thăng quân hàm
        <select class="dataTables_length" id="DoiTuong" onchange="ChangeYearThongKeNienHanQH()">
            <option value="0" label="Tất cả"></option>
            <option value="1" label="Sỹ quan"></option>
            <option  value="2" label="Hạ sỹ quan"></option>
        </select>
       
    </form>

    <table id="alllhs" class="table table-bordered" style="width :100%">

        <thead>
            <tr>

                <th scope="col">MaLHS</th>
                <th scope="col">Họ tên</th>
                <th scope="col">Ngày nhận</th>
                <th scope="col">Quân hàm hiện tại</th>
                <th scope="col" >Cơ sở đào tạo</th>
                <th scope="col">Địa bàn</th>
                <th scope="col">Công cụ</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3</td>
                <td>Apple</td>
                <td>12</td>
                <td>Man2</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>


            </tr>
            @{
                var all_luuhs = ViewBag.alllhs as IEnumerable<QLDHS.Models.Entity.ThongKeNienHanQH>;
            }
            @foreach (var item in all_luuhs)
            {

                
                string ngaynhan = null;
                if (item.NgayNhan != null)
                {
                    string ngaynhanStr = item.NgayNhan.ToString();
                    DateTime date = (Convert.ToDateTime(ngaynhanStr));
                    ngaynhan = date.Day + "-" + date.Month + "-" + date.Year;
                }
                <tr>
                    <td scope="row">@item.MaLHS</td>
                    <td scope="row">@item.KiHieu @item.HoTen </td>
                    <td scope="row">@ngaynhan</td>
                    <td scope="row">@item.QuanHam</td>
                    <td scope="row" >@item.CSDaoTao</td>
                    <td scope="row">@item.DiaBan</td>
                    <td scope="row">
                        <a href="~/LuuHS/EditLHS?LHSID=@item.LHSID"><div type="button" class="btn btn-success" title="Chỉnh sửa thông tin"><i class="fa fa-edit fa-sm"></i></div></a>
                        <a href="#"><div type="button" class="btn btn-danger" title="Xóa sinh viên"><i class="fa fa-trash-o fa-sm"></i></div></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    
    <a  class="btn btn-outline-primary btn-sm" role="button" href="/baocao/ThongkeNienHanQuanHam?year=2021?madoituong=1" id="nhqh">Tải về</a>
</div>
<script>
        var x = document.getElementById("yearQH").value;

</script>

<script>
    var table;
    var columnsVisible ;
    $(document).ready(function () {


        // Cấu hình các nhãn phân trang
        table = $('#alllhs').DataTable({
            dom: 'Bfrtip',
            columns: [{
                name: '1',
                "visible": true,
            }, {
                name: '2',
                "visible": true,
            }, {
                name: '3',
                "visible": true,
            }, {
                name: '4',
                "visible": true,
            }, {
                name: '5',
                "visible": true,
            },
             {
                 name: '6',
                 "visible": true,
             },
             {
                 name: '7',
                 "visible": false
             }],
            buttons: [
                {
                    text: 'Word',
                    action: function (e, dt, node, config) {
                        window.location.href = "/thongke/ThongkeNienHanQuanHam";
                    }
                },
                {
                    extend: 'csv',
                    title: 'Thống kê thăng quân hàm năm ' + x,
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excel',
                    title: 'Thống kê thăng quân hàm năm ' + x,
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdf',
                    title: 'Thống kê thăng quân hàm năm ' + x,
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    title: 'Thống kê thăng quân hàm năm ' + x,
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'colvis',
                    text: 'Chọn thông tin hiển thị',
                    columns: [1,2,3,4]
                }
            ],
            "language": {
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "Xem _MENU_ mục",
                "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
                "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix": "",
                "sSearch": "Tìm:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }
            },
            "processing": true, // tiền xử lý trước
            "aLengthMenu": [[10, 15, 20, 50], [10, 15, 20, 50]], // danh sách số trang trên 1 lần hiển thị bảng
            "order": [[0, 'asc']] //sắp xếp giảm dần theo cột thứ 1
        });

        $("#alllhs").css("font-size", 16);
    });

    function get_visible_columns() {
        //console.log(table);
        var all_columns = table.settings().init().columns;
        console.log('all_columns', all_columns);
        var visible_columns = [];
        for (var i in all_columns) {
            if (table.column(all_columns[i].name + ':name').visible()) {
                visible_columns.push(+i);
            }
        }
        columnsVisible = visible_columns;
        return visible_columns;
    }

    $('#alllhs').on('column-visibility.dt', function (e, settings, column, state) {
        get_visible_columns();
    });

    function GetDate(date) {
        GetDate(date);

    }

    function ChangeYearThongKeNienHanQH() {
        var namthangquanham = $('#yearQH :selected').val();
        var doituongthangquanham = $('#DoiTuong :selected').val();
        var formData = new FormData();
        formData.append('Year', namthangquanham);
        formData.append('DoiTuong', doituongthangquanham);

        $.ajax({
            url: '@Url.Action("DSThangQuanHam_Year_Post", "Thongke")',
            data: { Year: namthangquanham, DoiTuong: doituongthangquanham },
            dataType: "json",
            type: 'POST',
            traditional: true,
            success: function (result) {
                table
	            .clear()
	            .draw();
                var list = result.list;
                $.each(list, function (index, value) {
                    var myDate = new Date(parseInt(value.NgayNhan.substr(6)));
                    table.row.add([
                    value.MaLHS + '', value.HoTen + '', myDate.getDate() + '-' +myDate.getMonth()+1 +'-'+myDate.getFullYear() , value.KiHieu + '', value.CSDaoTao + '', value.DiaBan + '', ''
                    ]).draw();
                });
            },
            error: function () {
                alert("Có lỗi xảy ra khi lây dữ liệu");
            }
        });
    }


</script>

<link href="~/Content/DataTables/css/DataTables.Colvis.css" rel="stylesheet" type="text/css" />


