


<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DataTables/buttons.flash.min.js"></script>
<script src="~/Scripts/jszip.min.js"></script>
<script src="~/Scripts/pdfmake/pdfmake.min.js"></script>
<script src="~/Scripts/pdfmake/vfs_fonts.js"></script>
<script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
<script src="~/Scripts/DataTables/buttons.print.min.js"></script>
<script src="~/Scripts/DataTables/buttons.colVis.min.js"></script>

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />





<div class="section-heading">
    <h1>Danh sách<br /> lưu học sinh thăng quân hàm</h1>
</div>
<div class="section-content">

    <form enctype="multipart/form-data" method="get" action="" style="margin:0px;">
        Năm nhận quân hàm
        <select class="dataTables_length" id="yearQH" onchange="ChangeYearThongKeNienHanQH()">
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>


        </select>
        <input type="submit" style="display:none" id="submityear" />
    </form>

    <table id="alllhs" class="table table-bordered" style="width :100%">

        <thead>
            <tr>

                <th scope="col">MaLHS</th>
                <th scope="col">Họ tên</th>
                <th scope="col">Ngày nhận</th>
                <th scope="col">Quân hàm hiện tại</th>
                <th scope="col" >Cơ sở đào tạo</th>
                <th scope="col">Địa bàn</th>
                <th scope="col">Công cụ</th>

            </tr>
        </thead>
        <tbody>
            @{
                var all_luuhs = ViewBag.alllhs as IEnumerable<QLDHS.Models.Entity.ThongKeNienHanQH>;
            }
            @foreach (var item in all_luuhs)
            {

                string ngaynhan = null;
                if (item.NgayNhan != null)
                {
                    string ngaynhanStr = item.NgayNhan.ToString();
                    DateTime date = (Convert.ToDateTime(ngaynhanStr));
                    ngaynhan = date.Day + "-" + date.Month + "-" + date.Year;
                }
                <tr>


                    <th scope="row">@item.MaLHS</th>
                    <td scope="row">@item.KiHieu @item.HoTen 
                      
                    </td>
                    <td scope="row">@ngaynhan</td>
                    <td scope="row">@item.QuanHam</td>
                    <td scope="row" >@item.CSDaoTao</td>
                    <td scope="row">@item.DiaBan</td>
                    <td scope="row">
                        <a href="~/LuuHS/EditLHS?LHSID=@item.LHSID"><div type="button" class="btn btn-success" title="Chỉnh sửa thông tin"><i class="fa fa-edit fa-sm"></i></div></a>
                        <a href="#"><div type="button" class="btn btn-danger" title="Xóa sinh viên"><i class="fa fa-trash-o fa-sm"></i></div></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <a  class="btn btn-outline-primary btn-sm" role="button" href="/thongke/ThongkeNienHanQuanHam" id="nhqh">Tải về</a>
</div>
<script>
        var x = document.getElementById("yearQH").value;

</script>

<script>
    var columnss;
    $(document).ready(function () {

        // Cấu hình các nhãn phân trang
        var table = $('#alllhs').dataTable({
            dom: 'Bfrtip',

            buttons: [
                {
                    text: 'Word',
                    action: function (e, dt, node, config) {
                        window.location.href = "/thongke/ThongkeNienHanQuanHam";
                    }
                },
                {
                    extend: 'csv',
                    title: 'Thống kê thăng quân hàm năm '+x
                },
                {
                    extend: 'excel',
                    title: 'Thống kê thăng quân hàm năm ' + x
                },
                {
                    extend: 'pdf',
                    title: 'Thống kê thăng quân hàm năm ' + x
                },
                {
                    extend: 'print',
                    title: 'Thống kê thăng quân hàm năm ' + x,
                    exportOptions: {
                        columns: [0, 1, 2, 5]
                    }
                },                
                {
                    extend: 'colvis',                                       
                    columns: [0, 1, 2, 5]
                }
            ],
            "language": {
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "Xem _MENU_ mục",
                "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
                "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix": "",
                "sSearch": "Tìm:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }
            },
            "processing": true, // tiền xử lý trước
            "aLengthMenu": [[10, 15, 20, 50], [10, 15, 20, 50]], // danh sách số trang trên 1 lần hiển thị bảng
            "order": [[0, 'asc']] //sắp xếp giảm dần theo cột thứ 1
        });

        $("#alllhs").css("font-size", 16);
        table.columns.adjust().draw();
    });
    $('#alllhs').on('column-visibility.dt', function (e, settings, column, state) {
        console.log(
            'Column ' + column + ' has changed to ' + (state ? 'visible' : 'hidden')
        );
    });

    function GetDate(date) {
        GetDate(date);

    }
</script>

<link href="~/Content/DataTables/css/DataTables.Colvis.css" rel="stylesheet" type="text/css" />
