<script src="~/Scripts/Chart.min.js"></script>
<section id="home" class="content-section">
    

    <div class="section-content">

        <h2 style="text-decoration-color:yellow">THỐNG KÊ KẾT QUẢ TỐT NGHIỆP </h2>
        <br />
        <canvas id="Thongkenomon" width="800" height="450"></canvas>

            <a class="btn btn-outline-primary btn-sm" role="button" href="/thongke/ThongKePLTN" id="nhqh">WORD</a>


    </div>
</section>
<script>



    var maxF = function () {
        var max1 = Math.max(...xs);
        if (Math.max(...xs_) > max1) {
            max1 = Math.max(...xs_)
        }
        if (Math.max(...gioi) > max1) {
            max1 = Math.max(...gioi)
        } if (Math.max(...kha) > max1) {
            max1 = Math.max(...kha)
        } if (Math.max(...tb) > max1) {
            max1 = Math.max(...tb)
        } if (Math.max(...khac) > max1) {
            max1 = Math.max(...khac)
        }
        return max1;
    }
</script>
<script>
    var nam = @Html.Raw(Json.Encode(ViewBag.nam));
    var xs = @Html.Raw(Json.Encode(ViewBag.xs));
    var xs_ = @Html.Raw(Json.Encode(ViewBag.xs_));
    var gioi = @Html.Raw(Json.Encode(ViewBag.gioi));
    var kha = @Html.Raw(Json.Encode(ViewBag.kha));
    var tb = @Html.Raw(Json.Encode(ViewBag.tb));
    var khac = @Html.Raw(Json.Encode(ViewBag.khac));


</script>
<script>
    var ctx = document.getElementById("Thongkenomon");
    var barChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: nam,
            datasets: [{
                backgroundColor: '#a8a3d0',
                label: 'Xuất sắc*',
                data: xs_
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        max: maxF()+5 ,
                        min: 0
                    }
                }]
            }
        }
    });

    function addData(chart, label, color, data) {
        chart.data.datasets.push({
            label: label,
            backgroundColor: color,
            data: data
        });
        chart.update();
    }



    // inserting the new dataset after 3 seconds
    setTimeout(function () {
        addData(barChart, 'Xuất sắc', '#bb85bb', xs);
        addData(barChart, 'Giỏi', '#58bcd6', gioi);
        addData(barChart, 'Khá', '#fcbb75', kha);
        addData(barChart, 'Trung bình', '#c49377', tb);
        addData(barChart, 'Khác', '#9bb06a', khac);

    }, 1000);

</script>

<script>

    
    
    var maxF = function () {
        var max1 = Math.max(...xs);
        if (Math.max(...xs_) > max1) {
            max1 = Math.max(...xs_)
        }
        if (Math.max(...gioi) > max1) {
            max1 = Math.max(...gioi)
        } if (Math.max(...kha) > max1) {
            max1 = Math.max(...kha)
        } if (Math.max(...tb) > max1) {
            max1 = Math.max(...tb)
        } if (Math.max(...khac) > max1) {
            max1 = Math.max(...khac)
        }
        return max1;
    }
</script>
