


<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DataTables/buttons.flash.min.js"></script>
<script src="~/Scripts/jszip.min.js"></script>
<script src="~/Scripts/pdfmake/pdfmake.min.js"></script>
<script src="~/Scripts/pdfmake/vfs_fonts.js"></script>
<script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
<script src="~/Scripts/DataTables/buttons.print.min.js"></script>
<script src="~/Scripts/DataTables/buttons.colVis.min.js"></script>

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
<div class="section-heading">
    <h2>Danh sách LHS chuẩn bị về nước<br /> 
                 
                     <select>

                         <option>2020</option>
                         <option>2021</option>
                     </select>
                 
    
    </h2>   

</div>
<div class="section-content">
    
    <table id="alllhs" class="table table-bordered" style="width :100%">

        <thead>
            <tr>

                <th>STT</th>
                <th>Họ Tên</th>
                <th>Ngày Sinh</th>
                <th>Cấp bậc</th>
                <th>Ngày nhập ngũ</th>
                <th>Ngày về nước</th>



            </tr>
        </thead>
        <tbody>

            @{
                var all_luuhs = ViewBag.LHS_KTKhoaHoc as IEnumerable<QLDHS.Models.Model_view.CVDeNghiTotNgiep>;
                var dem = 0;
            }
            @foreach (var item in all_luuhs)
            {
                dem = dem + 1;
                string ngaysinh = null;
                if (item.Ngaysinh != null)
                {
                    string ngaynhanStr = item.Ngaysinh.ToString();
                    DateTime date = (Convert.ToDateTime(ngaynhanStr));
                    ngaysinh = date.Day + "-" + date.Month + "-" + date.Year;
                }
                string ngaynhanngu = null;

                if(item.NgayNhapNgu!=null)
                {
                    string ngaynhapnguStr = item.Ngaysinh.ToString();
                    DateTime date = (Convert.ToDateTime(ngaynhapnguStr));
                    ngaynhanngu = date.Day + "-" + date.Month + "-" + date.Year;
                }
                string ngayvenuoc = null;
                if (item.NgayVeNuoc != null)
                {
                    string ngayvenuocStr = item.NgayVeNuoc.ToString();
                    DateTime date = (Convert.ToDateTime(ngayvenuocStr));
                    ngayvenuoc = date.Day + "-" + date.Month + "-" + date.Year;
                }
                <tr>
                    <td scope="row">@dem</td>
                    <td scope="row">@item.HoTen </td>
                    <td scope="row">@ngaysinh</td>
                    <td scope="row">@item.CapBac</td>
                    <td scope="row">@ngaynhanngu</td>
                    <td scope="row">@ngayvenuoc</td>
                   
                </tr>
            }
        </tbody>

    </table>
    <a class="btn btn-outline-primary btn-sm" role="button" href="/baocao/DSLHSKetThucKhoaHoc?year=2020" id="nhqh">Tải về</a>
</div>
<script>
        var x = document.getElementById("yearQH").value;

</script>

<script>
    var table;
    var columnsVisible ;
    $(document).ready(function () {

        // Cấu hình các nhãn phân trang
        table = $('#alllhs').DataTable({
            dom: 'Bfrtip',
            columns: [{
                name: '1',
                "visible": true,
            }, {
                name: '2',
                "visible": true,
            }, {
                name: '3',
                "visible": true,
            }, {
                name: '4',
                "visible": true,
            }, {
                name: '5',
                "visible": true,
            },
             {
                 name: '6',
                 "visible": true,
             }],
            buttons: [
                {
                    text: 'Word',
                    action: function (e, dt, node, config) {
                        window.location.href = "/thongke/ThongkeNienHanQuanHam";
                    }
                },
                {
                    extend: 'csv',
                    title: 'Thống kê thăng quân hàm năm ' + x,
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excel',
                    title: 'Thống kê thăng quân hàm năm ' + x,
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdf',
                    title: 'Thống kê thăng quân hàm năm ' + x,
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    title: 'Thống kê thăng quân hàm năm ' + x,
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'colvis',
                    text: 'Chọn thông tin hiển thị',
                    columns: [1,2,3,4]
                }
            ],
            "language": {
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "Xem _MENU_ mục",
                "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
                "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix": "",
                "sSearch": "Tìm:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }
            },
            "processing": true, // tiền xử lý trước
            "aLengthMenu": [[10, 15, 20, 50], [10, 15, 20, 50]], // danh sách số trang trên 1 lần hiển thị bảng
            "order": [[0, 'asc']] //sắp xếp giảm dần theo cột thứ 1
        });

        $("#alllhs").css("font-size", 16);
    });

    function get_visible_columns() {
        //console.log(table);
        var all_columns = table.settings().init().columns;
        console.log('all_columns', all_columns);
        var visible_columns = [];
        for (var i in all_columns) {
            if (table.column(all_columns[i].name + ':name').visible()) {
                visible_columns.push(+i);
            }
        }
        columnsVisible = visible_columns;
        return visible_columns;
    }

    $('#alllhs').on('column-visibility.dt', function (e, settings, column, state) {
        get_visible_columns();
    });

    function GetDate(date) {
        GetDate(date);

    }

    function ChangeYearThongKeNienHanQH() {
        var namthangquanham = $('#yearQH :selected').val();
        var doituongthangquanham = $('#DoiTuong :selected').val();
        var formData = new FormData();
        formData.append('Year', namthangquanham);
        formData.append('DoiTuong', doituongthangquanham);

        $.ajax({
            url: '@Url.Action("DSThangQuanHam_Year_Post", "Thongke")',
            data: { Year: namthangquanham, DoiTuong: doituongthangquanham },
            dataType: "json",
            type: 'POST',
            traditional: true,
            success: function (result) {
                table
	            .clear()
	            .draw();
                var list = result.list;
                $.each(list, function (index, value) {
                    var myDate = new Date(parseInt(value.NgayNhan.substr(6)));
                    table.row.add([
                    value.MaLHS + '', value.HoTen + '', myDate.getDate() + '-' +myDate.getMonth()+1 +'-'+myDate.getFullYear() , value.KiHieu + '', value.CSDaoTao + '', value.DiaBan + '', ''
                    ]).draw();
                });
            },
            error: function () {
                alert("Có lỗi xảy ra khi lây dữ liệu");
            }
        });
    }


</script>

<link href="~/Content/DataTables/css/DataTables.Colvis.css" rel="stylesheet" type="text/css" />



