<script src="~/Scripts/Chart.min.js"></script>
<section id="home" class="content-section">
    <div class="section-content">
        <h2 style="text-decoration-color:yellow">THỐNG KÊ KẾT QUẢ TỐT NGHIỆP </h2>
        <br />
        <canvas id="Thongkenomon" width="800" height="450"></canvas>

    </div>
</section>
<script>
    var nam = @Html.Raw(Json.Encode(ViewBag.nam));
    var xs = @Html.Raw(Json.Encode(ViewBag.xs));
    var xs_ = @Html.Raw(Json.Encode(ViewBag.xs_));
    var gioi = @Html.Raw(Json.Encode(ViewBag.gioi));
    var kha = @Html.Raw(Json.Encode(ViewBag.kha));
    var tb = @Html.Raw(Json.Encode(ViewBag.tb));
    var khac = @Html.Raw(Json.Encode(ViewBag.khac));


</script>
<script>
    var ctx = document.getElementById("Thongkenomon");
    var barChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: nam,
            datasets: [{
                backgroundColor: '#a8a3d0',
                label: 'Xuất sắc*',
                data: [1,2,3,4,5]
            }]
        }
    });

    function addData(chart, label, color, data) {
        chart.data.datasets.push({
            label: label,
            backgroundColor: color,
            data: data
        });
        chart.update();
    }



    // inserting the new dataset after 3 seconds
    setTimeout(function () {
        addData(barChart, 'Xuất sắc', '#bb85bb', xs);
        addData(barChart, 'Giỏi', '#58bcd6', gioi);
        addData(barChart, 'Khá', '#fcbb75', kha);
        addData(barChart, 'Trung bình', '#c49377', tb);
        addData(barChart, 'Khác', '#9bb06a', khac);

    }, 1000);

</script>
