
@{
    ViewBag.Title = "Thông tin chuyên ngành đào tạo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table-wrapper {
        width: 900px;
        margin: 30px auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }

        .table-title h2 {
            margin: 6px 0 0;
            font-size: 22px;
        }

        .table-title .add-new, .save {
            float: right;
            height: 30px;
            font-weight: bold;
            font-size: 12px;
            text-shadow: none;
            min-width: 100px;
            border-radius: 50px;
            line-height: 13px;
        }

            .table-title .add-new i {
                margin-right: 2px;
            }

    table.table {
        table-layout: fixed;
    }

        table.table tr th, table.table tr td {
            border-color: #e9e9e9;
        }

        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }

        table.table th:last-child {
            width: 100px;
        }

        table.table td a {
            cursor: pointer;
            display: inline-block;
            margin: 0 5px;
            min-width: 24px;
        }

            table.table td a.add {
                color: #27C46B;
            }

            table.table td a.edit {
                color: #FFC107;
            }

            table.table td a.delete {
                color: #E34724;
            }

        table.table td i {
            font-size: 19px;
        }

        table.table td a.add i {
            font-size: 24px;
            margin-right: -1px;
            position: relative;
            top: 3px;
        }

        table.table .form-control {
            height: 32px;
            line-height: 32px;
            box-shadow: none;
            border-radius: 2px;
        }

            table.table .form-control.error {
                border-color: #f50000;
            }

        table.table td .add {
            display: none;
        }

    th, td {
        text-align: center;
    }
</style>
<script>

    $(document).ready(function () {

        var actions = $("table td:last-child").html();
        // Append table with add row form on add new button click
        $(".add-new").click(function () {

            var index = $("table tbody tr:last-child").index() +2;
            var row = '<tr>' +
                    '<td>' +
                    `${index}` + '<input id="' + `${index}` + '" name="MaChuyenNganh" value="" style="display:none"/>' +
                    '</td>'+
                    '<td class="text-editting">'+
                            '<input type="text" name="TenChuyenNganh" id="TenChuyenNganh" value="" placeholder="Điền tên bộ môn">' +
                            '</td>'+
                            '<td>'+
                            ' <input name="GhiChu" id="GhiChu" type="text" value=""placeholder="Điền mô tả" />'+
                            ' </td>'+
                            ' <td>'+
                            '<a class="info" href="/Thongtin" title="Thông tin"><i class="fa fa-info-circle" style="color:#22a1be;"></i></a>'+
                                '<a class="delete" data-delete="' + `${index}` + '" title="Xóa"><i class="fa fa-remove" style="color:#22a1be;"></i></a>' +

                       '</td>'+
                    '</tr>';
            $("table").append(row);
            $("table tbody tr").eq(index + 1).find(".add, .edit").toggle();
            $('[data-toggle="tooltip"]').tooltip();
        });

        // Delete row on delete button click
        $(document).on("click", ".delete", function () {
            var x = this;
            var id ='#'+ $(this).attr("data-delete");
            var ma = $(id).val();
            if (ma == "") {
                ma = 0;
            }
            //
            var formData = new FormData();
            formData.append('MaChuyenNganh', ma);
            $.ajax({
                url: 'XoaChuyenNganhDaoTao',
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (data) {
                    if (data == "1") {
                        $(x).parents("tr").remove();
                        alert("Xóa thành công!");
                    }
                    else {
                        alert("Xóa không thành công! Chuyên ngành này còn lưu học sinh đang học!");

                    }
                },
                error: function (data) {
                    alert(data)
                }
            });

            //


            $(".add-new").removeAttr("disabled");
            index--;

        });
    });
</script>

<span>

</span>
<div class="table-wrapper">

    <form action="ThemChuyenNganhDaoTao" enctype="multipart/form-data" method="post">
        <input name="MaNganh" value="@ViewBag.MaNganh" style="display:none;"/>
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">

                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i>Thêm chuyên ngành</button>
                </div>
                <div class="col-sm-2">
                    <button id="saveBM" type="submit" class="btn btn-success save"><i class="fa fa-save"></i> Lưu thông tin</button>

                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên bộ môn</th>
                    <th>Ghi chú</th>
                    <th>Công cụ</th>
                </tr>
            </thead>

            <tbody>

                @{ var indexx = 0;}
                @foreach (var item in ViewBag.chuyennganh as List<QLDHS.Models.Entity.ChuyenNganhDaoTao>)
                {
                    indexx = indexx + 1;
                    <tr>
                        <td>
                            @indexx
                            <input id="@indexx" name="MaChuyenNganh" value="@item.MaChuyenNganh" style="display:none" />
                        </td>
                        <td class="text-editting">
                            <input type="text" name="TenChuyenNganh" id="TenChuyenNganh" value="@item.ChuyenNganhDaoTao1" placeholder="Điền tên bộ môn">
                        </td>
                        <td>
                            <input name="GhiChu" id="GhiChu" type="text" value="" placeholder="Điền ghi chú" />
                        </td>
                        <td>
                            <a class="delete" data-delete="@indexx" title="Xóa"><i class="fa fa-remove" style="color:#22a1be;"></i></a>

                        </td>
                    </tr>
                }




            </tbody>
        </table>
    </form>
</div>

<style>
    input[type=text] {
        border: none;
    }
</style>






